<div>
	<div class="list-group-item">
		<div class="form-group">
			<form>
				<p><label for="firstName">First name: <span class="required-symbol">*</span></label> <input id="firstName" class="form-control" type="text" ng-model="currentContact.firstName" required></p>
				<p><label for="lastName">Last name: </label> <input id="lastName" class="form-control" type="text" ng-model="currentContact.lastName"></p>
				<p><label for="phone">Phone: <span class="required-symbol">*</span></label> <input id="phone" class="form-control" type="text" ng-model="currentContact.phone" required> </p>
				<p><label for="email">Email:</label> <input id="email" class="form-control" type="text" ng-model="currentContact.email"> </p>            
				<p><label for="url">URL:</label> <input id="url" class="form-control" type="text" ng-model="currentContact.url"> </p>
				<p><label for="notes">Notes:</label></p>
				<textarea class="form-control" id="notes" rows="3" ng-model="currentContact.notes"></textarea>
			</form>				
		</div>
	
		<a ng-if="path === '/add'" ng-click="addContact()">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-ok"></span><span>&nbsp;Save</span>
			</button>
		</a>

		<a ng-if="path !== '/add'" ng-click="updateContact()">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-ok"></span><span>&nbsp;Save</span>
			</button>
		</a>

		<a href="#/contacts">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-remove"></span><span>&nbsp;Cancel</span>
			</button>
		</a>
	</div>
</div>